.email-box {
  overflow-y: auto;
  background-color: #ddd;
}

.folders-list {
  list-style-type: none;
  padding: 1.5em 0;
  margin: 0;
}

.folder-item {
  padding: 0.14em 1.5em;
  cursor: pointer;
}

.folder-item a {
  text-decoration: none;
  color: #000;
}

.active {
  background-color: #6495ed;
}

.active a {
  color: #fff;
}
