.email-preview {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
  font-size: small;
  grid-area: preview;
}

.active {
  background-color: #6495ed;
  color: #fff;
}

tr {
  cursor: pointer;
}

.email-detail {
  grid-area: detail;
}
