.email-header,
.email-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1em 2em;
}

.email-header {
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 14px;
  margin: 0;
}

button {
  font-size: 14px;
}
